/* src/pages/Home.css */

.home-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2d42;
    padding: 40px;
    color: #f9f9f9;
    margin: 0;
}
  
.carousel {
    margin-top: -40px;
    width: 105%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
  
.carousel-inner {
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
}
  
.carousel-item {
    min-width: 100%; /* Each item takes full width of the container */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.carousel-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.banner-text {
    background-color: rgb(24, 25, 36, .7);
    z-index: 2;
    padding: 20px 20px;
    border-radius: 5px;
    position: relative;
    top: 55vh;
    text-align: center;
    background-position: center;
    color: #e6e6e6;
}

.banner-text h1 {
    font-size: 3rem;
    color: #f9f9f9;
    margin-bottom: 20px;
}
  
.banner-text p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}
  
.cta-button {
    display: inline-block;
    background-color: #fd6600;
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
  
.cta-button:hover {
    background-color: #c14d00;
}
  

.prev-button, .next-button {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

.prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12vh;
    width: 100%;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #fd6600;
}

.features-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin-top: 30px;
}
  
.feature {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.feature:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature h2 {
    font-size: 1.5rem;
    color: #fd6600;
    margin-bottom: 15px;
}

.feature p {
    font-size: 1rem;
    color: #f9f9f9;
    line-height: 1.6;
    max-width: 300px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .features-section {
        flex-direction: column;
        gap: 30px;
    }

    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .cta-button {
        padding: 12px 24px;
    }
}

/* Values and Services Section */
.values-section {
    margin: 60px 0;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
}

.values-container,
.services-container {
    margin-bottom: 40px;
}

.values-section hr{
    position: absolute;
    margin-left: 620px;
    width: 20px;
    margin-top: -30px;
    margin-bottom: 100px;
    border: 2px solid #fd6600;
    display: none;

}
.values-section h2 {
    font-size: 2.5rem;
    color: #fd6600;
    margin-bottom: 40px;
}

.values-section p {
    font-size: 1.2rem;
    color: #e6e6e6;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Services */
.services-container {
    width: 100%;

}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.service {
    background-color: #181924;

    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #181924;
    text-align: center;
    transition: .2s;
}

.service:hover {
    box-shadow: 0px 0px 10px 1px #fd6600;
    transform: scale(1.05); 

}

.service h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #fd6600;
}

.service p {
    font-size: 1rem;
    color: #e6e6e6;
    margin-top: 10px;
    line-height: 1.4;
}

.service-icon {
    font-size: 3rem;
    color: #fd6600;
}

/* Contact Us Section */
.contact-us-section {
    margin: 60px 0;
    text-align: center;
    background-color: #181924;
    box-shadow: 0px 0px 20px 2px #181924;

    padding: 40px 20px;
    border-radius: 10px;
    width: 80%;
}

.contact-us-section h2 {
    font-size: 2.5rem;
    color: #fd6600;
}

.contact-us-section p {
    font-size: 1.2rem;
    color: #e6e6e6;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 60%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #2b2d42; 
    color: #e6e6e6;
    font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #b3b3b3; 
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #fd6600;
}

.contact-form button {
    background-color: #fd6600;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c14d00;
}
