.topics{
    padding:10px;
    background-color: #181924;
    color: #f9f9f9;
    font-weight: 500;
}

.topics hr {
    width: 50px;
    margin: -5px auto 20px; 
    border: 2px solid #fd6600;
  }

.currentHot{
    margin-top: 5vh;
    margin-bottom: 10px;
    color: #fd6600;
    text-align: center;
}

.topics-sub{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.topic-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .cards-container{
    background-color: #2b2d42;
    padding: 20px 20px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;

  }

  .category-button {
    background-color: #181924;
    color: #f9f9f9;
    border: 1px solid #fd6600;
    padding: 10px 20px;
    width: 100%;
    margin: -15px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0px;
  }
.sentimentCard{
    padding: 0px 10vw;
}
  
.category-button:hover{
    background-color: #fd6600;
    color: #181924;
}
.category-button.active {
  background-color: #fd6600;
  color: #eee;
  border: 1px solid #fd6600;

}

.topic-navbar {
    margin: 0px -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181924;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    position: sticky;
    top: 0;
    z-index: 100;
  }