.sentiment-bar-container {
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #181924;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    position: relative;
  }
  
  .sentiment-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: width 0.5s ease;
    height: 100%;
    position: relative;
    font-weight: 500;
  }

  .overall-result{
    margin-top: 10px;
    font-size: 18px;
  }
  
  .negative {
    background: linear-gradient(90deg, #2b2d42, #494c70);
  }
  
  .neutral {
    background: linear-gradient(90deg, #848484, #5a5a5a);
  }
  
  .positive {
    background: linear-gradient(90deg, #ce5200, #fa7a24);
  }
  
  .sentiment-label {
    z-index: 1;
    color: white;
    padding: 0 5px;
    white-space: nowrap;
  }
  
  .sentiment-bar span {
    display: block;
  }
  