
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: Space Grotesk;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 100%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #2b2d42; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #fd6600; 
  border-radius: 5px;
  border: 2px solid #2b2d42; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #be4c00;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #181924 #2b2d42;
}
